In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from  sklearn.cross_validation import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures

In [34]:
train=pd.read_csv("C:\\Users\\266251\\Machine Learning\\hr\\train_LZdllcl.csv")

In [35]:
test=pd.read_csv("C:\\Users\\266251\\Machine Learning\\hr\\test_2umaH9m.csv")

In [36]:
train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [37]:
test.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [6]:
train.shape

(54808, 14)

In [7]:
test.shape

(23490, 13)

In [8]:
train.columns.difference(test.columns)

Index(['is_promoted'], dtype='object')

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [10]:
import pandas_profiling as pp

C:\ProgramData\Anaconda3\lib\site-packages\pandas_profiling\plot.py:15: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "C:\ProgramData\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\ProgramData\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\ProgramData\Anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 486, in start
    self.io_loop.start()
  File "C:\ProgramData\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 127, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\Anaconda3\lib\asyncio\base_events.py", line 422, in run_forever
    self._run_once()
  File "C:\ProgramData\Anaconda3\lib\asyncio\base_events.py", line 1432, in _run_once
    handle._run()
  File "C:\ProgramData\Anaconda3\lib\asyncio\events.py", line 145, in _run
    self._callback(*self._args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 117, in _handle_events
    handler_func(fileobj, events)
  File "C:\ProgramData\Anaconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "C:\ProgramData\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\ProgramData\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2666, in run_cell
    self.events.trigger('post_run_cell', result)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\events.py", line 88, in trigger
    func(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\pylab\backend_inline.py", line 160, in configure_once
    activate_matplotlib(backend)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\pylabtools.py", line 311, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\pyplot.py", line 231, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\__init__.py", line 1410, in use
    reload(sys.modules['matplotlib.backends'])
  File "C:\ProgramData\Anaconda3\lib\importlib\__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\backends\__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  matplotlib.use(BACKEND)

In [10]:
train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [26]:
train[train["education"]==0].["Age"].value_counts()

SyntaxError: invalid syntax (<ipython-input-26-517b91931fe2>, line 1)

In [18]:
train.groupby("department").education.transform(lambda x: x.fillna(x.mode()[0])).value_counts()

Bachelor's          39078
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [38]:
train["education"]=train.groupby("department").education.transform(lambda x: x.fillna(x.mode()[0]))

In [39]:
test["education"]=test.groupby("department").education.transform(lambda x: x.fillna(x.mode()[0]))

In [46]:
train.isna().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [41]:
train["previous_year_rating"].value_counts()

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [42]:
train["previous_year_rating"].unique()

array([ 5.,  3.,  1.,  4., nan,  2.])

In [29]:
train[train["previous_year_rating"]==np.nan]

Empty DataFrame
Columns: [employee_id, department, region, education, gender, recruitment_channel, no_of_trainings, age, previous_year_rating, length_of_service, KPIs_met >80%, awards_won?, avg_training_score, is_promoted]
Index: []

In [43]:
train["previous_year_rating"]=train.groupby(["department","education"]).previous_year_rating.transform(lambda x: x.fillna(x.mode()[0]))

In [44]:
train["previous_year_rating"].unique()

array([5., 3., 1., 4., 2.])

In [48]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               54808 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    54808 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [47]:
test["previous_year_rating"]=test.groupby(["department","education"]).previous_year_rating.transform(lambda x: x.fillna(x.mode()[0]))

In [49]:
train["source"]='train'

In [50]:
test["source"]='test'

In [51]:
#concatenate test and train
df = pd.concat([train,test],axis=0,sort=False)

In [53]:
df.tail()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,source
23485,53478,Legal,region_2,Below Secondary,m,sourcing,1,24,3.0,1,0,0,61,NaN,test
23486,25600,Technology,region_25,Bachelor's,m,sourcing,1,31,3.0,7,0,0,74,NaN,test
23487,45409,HR,region_16,Bachelor's,f,sourcing,1,26,4.0,4,0,0,50,NaN,test
23488,1186,Procurement,region_31,Bachelor's,m,sourcing,3,27,3.0,1,0,0,70,NaN,test
23489,5973,Technology,region_17,Master's & above,m,other,3,40,5.0,5,1,0,89,NaN,test

In [54]:
catagorical_columns=df.select_dtypes(include='object')

In [55]:
numerical_columns=df.select_dtypes(exclude='object')

In [57]:
catagorical_columns.columns

Index(['department', 'region', 'education', 'gender', 'recruitment_channel',
       'source'],
      dtype='object')

In [60]:
numerical_columns.columns

Index(['employee_id', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

In [58]:
encode=pd.get_dummies(catagorical_columns.drop(columns=["source"]))

In [59]:
encode.head()

,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,department_Technology,region_region_1,...,region_region_8,region_region_9,education_Bachelor's,education_Below Secondary,education_Master's & above,gender_f,gender_m,recruitment_channel_other,recruitment_channel_referred,recruitment_channel_sourcing
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,1,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,1,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,1,0,0

In [61]:
processing_final=pd.concat([encode,numerical_columns,df[["source"]]],axis=1)

In [62]:
pre_train = processing_final.loc[processing_final['source']=="train"]

In [63]:
pre_test = processing_final.loc[processing_final['source']=="test"]

In [64]:
del pre_train["source"]

In [65]:
del pre_test["source"]

In [66]:
pre_test.head()

,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,department_Technology,region_region_1,...,recruitment_channel_sourcing,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,0,0,0,0,0,0,0,0,1,0,...,1,8724,1,24,3.0,1,1,0,77,NaN
1,0,0,1,0,0,0,0,0,0,0,...,0,74430,1,31,3.0,5,0,0,51,NaN
2,0,0,0,0,0,0,0,1,0,0,...,0,72255,1,31,1.0,4,0,0,47,NaN
3,0,0,0,0,0,1,0,0,0,0,...,0,38562,3,31,2.0,9,0,0,65,NaN
4,0,1,0,0,0,0,0,0,0,0,...,1,64486,1,30,4.0,7,0,0,61,NaN

In [67]:
pre_train.head()

,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,department_Technology,region_region_1,...,recruitment_channel_sourcing,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,0,0,0,0,0,0,0,1,0,0,...,1,65438,1,35,5.0,8,1,0,49,0.0
1,0,0,0,0,1,0,0,0,0,0,...,0,65141,1,30,5.0,4,0,0,60,0.0
2,0,0,0,0,0,0,0,1,0,0,...,1,7513,1,34,3.0,7,0,0,50,0.0
3,0,0,0,0,0,0,0,1,0,0,...,0,2542,2,39,1.0,10,0,0,50,0.0
4,0,0,0,0,0,0,0,0,1,0,...,0,48945,1,45,3.0,2,0,0,73,0.0

In [68]:
del pre_train["employee_id"]

In [69]:
final=pre_test[["employee_id","is_promoted"]]

In [70]:
final.head()

   employee_id  is_promoted
0         8724          NaN
1        74430          NaN
2        72255          NaN
3        38562          NaN
4        64486          NaN

In [71]:
del pre_test["employee_id"]

In [72]:
X=pre_train.drop(columns=["is_promoted"],axis=0)

In [73]:
y=pre_train.is_promoted

In [74]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

rfe = RFE(logreg, 18)
rfe = rfe.fit(X,y)
print(rfe.support_)
print(rfe.ranking_)

[False False False  True False False False False False False False  True
 False False False False False False False False False  True  True False
 False  True False False False False  True False False  True  True  True
  True False  True  True False False  True False False False  True  True
  True False False False False False False  True  True False]
[25 21  4  1 22 24  6 23 19 20 29  1  7 18 14 15 12 33 41  5 16  1  1 34
 35  1 31  8 17 36  1 38 30  1  1  1  1 28  1  1 37 13  1 10  9 11  1  1
  1  3  2 32 39 27 40  1  1 26]

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [76]:
y_pred_train = logreg.predict(X_train)

In [77]:
metrics.confusion_matrix(y_train,y_pred_train)

array([[34926,   157],
       [ 2479,   803]], dtype=int64)

In [78]:
metrics.accuracy_score(y_train,y_pred_train)

0.9312915417698423

In [79]:
print(metrics.classification_report(y_train,y_pred_train))

             precision    recall  f1-score   support

        0.0       0.93      1.00      0.96     35083
        1.0       0.84      0.24      0.38      3282

avg / total       0.93      0.93      0.91     38365

In [80]:
y_pred = logreg.predict(X_test)

In [81]:
metrics.confusion_matrix(y_test,y_pred)

array([[14998,    59],
       [ 1047,   339]], dtype=int64)

In [82]:
metrics.accuracy_score(y_test,y_pred)

0.9327373350361856

In [83]:
print(metrics.classification_report(y_test,y_pred))

             precision    recall  f1-score   support

        0.0       0.93      1.00      0.96     15057
        1.0       0.85      0.24      0.38      1386

avg / total       0.93      0.93      0.92     16443

In [84]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.93

In [89]:
final.shape

(23490, 2)

In [91]:
y_pred.shape

(16443,)

In [92]:
logreg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)